@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Email @ViewData["email"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.facebook.com/luciano.brandao3?ref=bookmarks">facebook.com</a>
    </address>
